<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head id="headerFragment" th:fragment="headerFragment">
    <title>GradeZilla </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/core.css" th:href="@{/css/core.css}"
          rel="stylesheet" />
    <link href="../../static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}"
          rel="stylesheet" />
</head>
</html>
